* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.Swiper,
.Swiper-ItemContainer,
.Swiper-ItemContainer > * {
  width: 100%;
  height: 100%;
}

.Swiper {
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
}

.Swiper-ItemContainer {
  display: flex;
}

.Swiper-ItemContainer > * {
  flex: 1;
  position: relative;
}
